# Exercise-1

* Brian O'Connell
* <span style="background-color:#33FFF5">brr99@pitt.edu</span> 
---

In [2]:
# load required modules
import pandas as pd
import numpy as np
import datetime

In [3]:
dfInvestors = pd.DataFrame({'INo':['I1', 'I2', 'I3'],'IName':['Anne', 'John', 'Elizabeth'],'PhoneNo':['412-456-4567', '585-673-4572', '763-567-8953']})
dfSecurities =  pd.DataFrame({'SNo':['S1', 'S2', 'S3', 'S4', 'S5', 'S6'], 'SName':['Microsoft', 'Kodak', 'IBM','Xerox', 'Amazon', 'Yahoo'], 'Price':[78, 45, 68, 123, 34,78]})
dfHoldings = pd.DataFrame({'INo':['I1','I1','I1','I1','I2','I2','I3','I3','I3'],'SNo':['S1','S2','S3','S4','S2','S6','S1','S3','S4'],'Qty':[500, 2000, 90,200,917,324,1000,346,780]})

In [4]:
dfMerged = pd.merge(dfInvestors, dfHoldings, on='INo')
dfMerged = pd.merge(dfMerged, dfSecurities, on = 'SNo')
dfMerged

  INo      IName       PhoneNo SNo   Qty      SName  Price
0  I1       Anne  412-456-4567  S1   500  Microsoft     78
1  I3  Elizabeth  763-567-8953  S1  1000  Microsoft     78
2  I1       Anne  412-456-4567  S2  2000      Kodak     45
3  I2       John  585-673-4572  S2   917      Kodak     45
4  I1       Anne  412-456-4567  S3    90        IBM     68
5  I3  Elizabeth  763-567-8953  S3   346        IBM     68
6  I1       Anne  412-456-4567  S4   200      Xerox    123
7  I3  Elizabeth  763-567-8953  S4   780      Xerox    123
8  I2       John  585-673-4572  S6   324      Yahoo     78

Anne has 78 shares of S1. John has 78 shares of Yahoo

# Exercise-2